.stylehome {
  background-image: url("..//ibl.png");
  background-position: center;
  background-size: cover;
}

body {
  background-image: url("..//ibl.png");
  background-color: #cccccc;
}

.top {
  background: #722f37;
  color: #f2f2f2;
}
.card {
  padding: 10px;
  margin: 10px;
}
.alertstyle {
  text-decoration-color: red;
  text-decoration-style: wavy;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
}
.flex-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.flex-right {
  text-align: right;
  justify-content: right;
  line-height: 75px;
}

.flex-left {
  text-align: left;
  justify-content: left;
}

.slender {
  font-size: 10px;
  font-style: italic;
}

#stylehome {
  background-image: url(../img/ibl.png);
  background-position: center;
}
.jumbotron {
  line-height: 15px;
  padding: 5px;
  margin: 0px;
}

.jumbo {
  line-height: 15px;
  padding: 5px;
  margin: 0px;
}

#investors {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#investors td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#investors tr:nth-child(even) {
  background-color: #f2f2f2;
}

#investors tr:hover {
  background-color: #ddd;
}

#investors th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
