<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Rights Document</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


    <div class="container z-depth-3">

        <div class="container-fluid top">
            <h5 class="flex-container row"><b>ACCEPTANCE/RENUNCIATION FORM</b></h5>
            <div class="container">

                <h6 class="flex-container row"><b>INTERNATIONAL BREWERIES PLC</b></h6>

                <div class="flex-container">RIGHTS ISSUE OF</div>
                <h4 class="flex-container"><b>4,170,411,648</b></h4>
                <div class="flex-container">ORDINARY SHARES OF 50 KOBO EACH AT N0.50K PER SHARE </div>
                <div class="flex-container">ON THE BASIS OF 1 NEW SHARE FOR EVERY 2 SHARE HELD AS AT CLOSE OF </div>
                <div class="flex-container row">BUSINESS ON 15th JANUARY 2019</div>
                <div class="flex-container row"><b>PAYABLE IN FULL ON ACCEPTANCE</b></div>
            </div>
        </div>

        <div class="container-fluid">
            <hr height="5px">

            <div class="flex-container">
                <div class="flex-left">
                    <div>Issuing House</div><img src="..//apel.png" width="50px" /></div>
                <div class="flex-right">{Customer Right Details}</div>
            </div>
            <hr>
        </div>

        <div class="container-fluid">
            <div class="slender">
                <p><b>INSTRUCTION FOR COMPLETING THE ACCEPTANCE / RENUNCIATION FORM</b></p>

                <p>1. Acceptance and/or renunciation must be made on this Acceptance/Renunciation Form. Photocopies or scanned copies of the Form will be rejected.</p>

                <p>2. Allottees should complete only ONE of the boxes marked A and B on the reverse of this form. Shareholders accepting the provisional allotment in full should complete box A and submit their Acceptance/Renunciation Forms to any of the
                    Receiving Agents listed on <b>Page 50 </b>of the Rights Circular together with a cheque or bank draft made payable to the Receiving Agent for the full amount payable on acceptance. The cheque or draft must be crossed <b>INTERNATIONAL BREWERIES PLC RIGHTS</b>,
                    with the name, address and mobile number of the shareholder written on the back</p>

                <p><b>Any payment made electronically or with a value exceeding <s>N</s>10 million should be made via SWIFT, RTGS or NEFT into the designated Offer Proceeds Account stated below:</b></p>

            </div>
            <table id="investors" border="1" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top">
                            <p><b>Account Details:</b></p>
                        </td>
                        <td valign="top">
                            <p>Keystone Bank Plc</p>
                        </td>
                    </tr>

                    <tr>
                        <td valign="top">
                            <p><b>Account Name:</b></p>
                        </td>
                        <td valign="top">
                            <p>INTERNATIONAL BREWERIES PLC RIGHTS ISSUE</p>
                        </td>
                    </tr>

                    <tr>
                        <td valign="top">
                            <p><b>Account Number:</b></p>
                        </td>
                        <td valign="top">
                            <p>1234567890</p>
                        </td>
                    </tr>

                    <tr>
                        <td valign="top">
                            <p><b>Narration:</b></p>
                        </td>
                        <td valign="top">
                            <p><i>[{{name}}]s payment for INTERNATIONAL BREWERIES PLC</i> RIGHTS</p>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="slender">
                <p>3. Shareholders accepting their provisional allotment partially should complete box B and submit their Acceptance/Renunciation Forms to any of the Receiving Agents listed on Page <b>50 </b>of the Rights Circular together with the evidence
                    of payment transfer for the partial acceptance.</p>

                <p>4. Shareholders renouncing the provisional allotment partially or in full, who also wish to trade their Rights on the floor of The Exchange should complete item</p>

                <p>(iii) of box B. They should obtain a Transfer Form from their stockbroker, complete it in accordance with these instructions, and return it to the stockbroker together with the completed Acceptance/Renunciation Form and the amount payable/evidence
                    of transfer for any partial acceptance in accordance with 2 above.</p>

                <p>5. Shareholders who wish to acquire additional shares over and above their provisional allotment may purchase renounced Rights by contacting their stockbroker, and/or apply for additional shares by completing item (ii) and (iii) of box
                    A.
                </p>

                <p>6. All cheques or bank drafts for amounts below ?10 million will be presented for payment on receipt and all acceptances in respect of which cheques are returned unpaid for any reason will be rejected and cancelled. Shareholders are advised
                    to obtain an acknowledgement of the amount paid from the Receiving Agent through which this Acceptance/Renunciation Form is lodged.</p>

                <p>7. Joint allottees must sign on separate lines in the appropriate section of the Acceptance/Renunciation Form.</p>

                <p>8. Acceptance/Renunciation Forms of corporate allottees must bear their incorporation numbers and corporate seals and must be completed under the hands of duly authorized officials who should also state their designations.</p>

            </div>
        </div>
        <div class="jumbo">
            <h6>REGISTRARS INFO</h6>


            <br />


        </div>
        <!--Acceptance form div begins here-->
        <div>
            <table id="investors" border="1" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top">
                            <p><b>Number of ordinary shares accepted</b></p>
                        </td>
                        <td valign="top">
                            <p>[No of shares input]</p>
                        </td>
                    </tr>

                    <tr>
                        <td valign="top">
                            <p><b>Additional ordinary shares applied for:</b></p>
                        </td>
                        <td valign="top">
                            <p>[Additional ordinary shares applied for]</p>
                        </td>
                    </tr>

                    <tr>
                        <td valign="top">
                            <p><b>Total ammount payable:</b></p>
                        </td>
                        <td valign="top">
                            <p>[Total ammount payable]</p>
                        </td>
                    </tr>

                    <tr>
                        <td valign="top">
                            <p><b>Amount paid:</b></p>
                        </td>
                        <td valign="top">
                            <p>[Amount paid]</p>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!--end of acceptance form div-->

    </div>
    <!--end of main div-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>