<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="styleshet" href="..static/css/styles.css">
    <style type="text/css"></style>
    <title>ibl-right1</title>
</head>

<body>
    <p style="text-align: center;"><small><small><small><strong>INTERNATIONAL
BREWERIES PLC<br>
R</strong><strong>IGHTS </strong><strong>I</strong><strong>SSUE OF<br>
4,170,411,648</strong> ORDINARY SHARES OF 50 KOBO EACH AT <span
style="text-decoration: line-through;">N </span>0.50 <span
style="text-decoration: line-through;">P</span>ER SHARE<br>
ON THE BASIS OF 1 NEW SHARE FOR EVERY 2 SHARE HELD AS AT CLOSE OF
BUSINESS ON 15th JANUARY 2019</small></small>
        </small>
    </p>
    <h2><small>Issuing House</small></h2>
    <p><small><strong>PAYABLE IN FULL ON ACCEPTANCE</strong></small></p>
    <p><small><strong>I</strong><strong>NSTRUCTION FOR </strong><strong>C</strong><strong>OMPLETING
THE </strong><strong>A</strong><strong>CCEPTANCE </strong><strong>/ R</strong><strong>ENUNCIATION
</strong><strong>F</strong><strong>ORM</strong></small></p>
    <ol>
        <li><small>Acceptance and/or renunciation must be made on this
Acceptance/Renunciation Form. Photocopies or scanned copies of the Form
will be</small></li>
    </ol>
    <ol start="2">
        <li><small>Allottees should complete only ONE of the boxes marked A
and B on the reverse of this form. Shareholders accepting the
provisional allotment in full should complete box A and submit their
Acceptance/Renunciation Forms to any of the Receiving Agents listed on <strong>Page
50 </strong>of the Rights Circular together with a cheque or bank
draft made payable to the Receiving Agent for the full amount payable
on acceptance. The cheque or draft must be crossed “INTERNATIONAL
BREWERIES PLC RIGHTS”, with the name, address <u>an</u>d mobile number
of the shareholder written on the back.</small></li>
    </ol>
    <p><small><strong>Any payment made electronically or with a value
exceeding <span style="text-decoration: line-through;">N</span>10
million should be made via SWIFT, RTGS or NEFT into the designated
Offer Proceeds Account stated below:&nbsp; &nbsp; &nbsp;</strong></small></p>
    <table style="border-style: solid; border-color: black; height: 152px; border-collapse: collapse; width: 1028px;" border="1">
        <tbody>
            <tr style="height: 21px;">
                <td style="width: 319px; height: 21px;"><small><strong>Ac</strong>count
Details:&nbsp;</small></td>
                <td style="width: 286px; height: 21px;"><small>Keystone Bank Plc</small></td>
            </tr>
            <tr style="height: 21px;">
                <td style="width: 319px; height: 21px;"><small>Account Name:</small></td>
                <td style="width: 286px; height: 21px;"><small>INTERNATIONAL
BREWERIES PLC RIGHTS ISSUE</small></td>
            </tr>
            <tr style="height: 21px;">
                <td style="width: 319px; height: 21px;"><small>Account
Number:&nbsp;</small></td>
                <td style="width: 286px; height: 21px;"><small>1234567890</small></td>
            </tr>
            <tr style="height: 21px;">
                <td style="width: 319px; height: 21px;"><small>Narration:</small></td>
                <td style="width: 286px; height: 21px;"><small>“<em>[Full Name of
Shareholder]’s payment for INTERNATIONAL BREWERIES PL</em> RIGHTS”</small></td>
            </tr>
        </tbody>
    </table>
    <ol start="2">
        <li>Shareholders accepting their provisional allotment partially should complete box B and submit their Acceptance/Renunciation Forms to any of the Receiving Agents listed on Page 50 of the Rights Circular together with the evidence of payment transfer
            for the partial acceptance.
        </li>
        <li>Shareholders renouncing the provisional allotment partially or in full, who also wish to trade their Rights on the floor of The Exchange should complete item<br> (iii) of box B. They should obtain a Transfer Form from their stockbroker, complete
            it in accordance with these instructions, and return it to the stockbroker together with the completed Acceptance/Renunciation Form and the amount payable/evidence of transfer for any partial acceptance in accordance with 2 above.</li>
        <li>&nbsp;Shareholders who wish to acquire additional shares over and above their provisional allotment may purchase renounced Rights by contacting their stockbroker, and/or apply for additional shares by completing item (ii) and (iii) of box A.</li>
        <li>All cheques or bank drafts for amounts below ₦10 million will be presented for payment on receipt and all acceptances in respect of which cheques are returned unpaid for any reason will be rejected and cancelled. Shareholders are advised to obtain
            an acknowledgement of the amount paid from the Receiving Agent through which this Acceptance/Renunciation Form is lodged.</li>
        <li>Joint allottees must sign on separate lines in the appropriate section of the Acceptance/Renunciation Form.</li>
        <li>Acceptance/Renunciation Forms of corporate allottees must bear their incorporation numbers and corporate seals and must be completed under the hands of duly authorized officials who should also state their designations.<br>
            <br>
        </li>
    </ol>
</body>

</html>