{% extends "base.html" %} {% block home %}
<div>

    <head>
        {%if title %}
        <title>{{title}} IBL UNCLAIMED DIVIDEND RECORD</title>
        {%else%}
        <title>{{title}} WELCOME IBL UNCLAIMED DIVIDEND RECORD</title>
        {%endif%}
    </head>

    {% with messages =get_flashed_messages() %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <div>
        THIS IS THE INDEX PAGE
    </div>
</div>
{% endblock %}