<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css">

    <title>MY INTERNATIONAL BREWERIES PLC UNCLAIMED DIVIDEND </title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">




    <style>
        table,
        td,
        tr {
            padding: 0;
            margin: 0;
            border: 1px solid black;
        }
        
        .slender {
            font-size: 10px;
            font-style: italic;
        }
        
        nav {
            background-color: #A52A2A;
            color: #A52A2A;
        }
        
        @media print {
            .centerr {
                margin: auto !important;
                flex-direction: column !important;
                padding: auto !important;
                width: 50% !important;
                justify-content: center !important;
                align-content: center !important;
            }
        }
    </style>



    <body>
        <nav class="center" id="print-nav">
            <div class="center nav-wrapper">
                <ul class="center">

                    <li><a class="waves-effect waves-light btn print green" onclick="printJS('printJS-doc', 'html')">Print/Save as PDF<i
                            class="material-icons right">local_printshop</i></a></li>
                    <li><a href="https://iblright.apel.com.ng" class="waves-effect waves-light btn brown">Search Again<i class="material-icons right">search</i></a>
                    </li>
                    <li><a href="http://registrars.apel.com.ng/?ddownload=307" class="waves-effect waves-light btn brown">Trade Your Right<i class="material-icons right">Trade</i></a>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="container z-depth-3" id="printJS-doc">

            <div class="centerr container-fluid center col s12">
                <!-- <h5 class="flex-container row"><b>ACCEPTANCE/RENUNCIATION FORM</b></h5> -->
                <p>Issuing House</p>
                <img src="https://res.cloudinary.com/tokyojames/image/upload/v1575635193/chd-logo_mvxr8j.png" width="200px" />

                <p>on behalf of</p>
                <img src="https://res.cloudinary.com/tokyojames/image/upload/v1575635193/ibl-logo_tb1nj1.png" width="200px" />

                <div class="container-fluid">
                    <h6 class="flex-container row"><b>INTERNATIONAL BREWERIES PLC</b></h6><br>
                    <div class="container center">RIGHTS ISSUE OF <b>18,266,206,614</b> ORDINARY SHARES OF 50 KOBO EACH AT N9.00K PER SHARE ON THE BASIS OF SEVENTEEN(17) NEW SHARE FOR EVERY EIGHT(8) SHARES HELD AS AT NOVEMBER 6TH, 2019
                        <b>PAYABLE IN FULL ON ACCEPTANCE</b>
                    </div>
                </div>

            </div>

            <div class="container-fluid">
                <hr height="5px">

                <div class="dflex s12 m12 l12">
                    <!-- <div class="left s12">
                    Acceptance List Opens<br>
                    December 5, 2019
                </div> -->

                    <div class="center s12">
                        <b>A/C Number:</b> {{session.get('ACNO')}}<br>
                        <b>Dividend Batch:</b> {{session.get('DIVIDEND_BATCH')}} <br>
                        <b>Company:</b> {{session.get('COMPANY')}}<br>
                        <b>Name:</b> {{session.get('NAMES')}}<br>
                    </div>

                    <!-- <div class="right s12">
                    Acceptance List Closes<br>
                    December 24, 2019
                </div> -->
                </div>
                <hr>
            </div>

            <div class="container-fluid">
                <div class="slender">
                    <p><b>INSTRUCTION FOR COMPLETING THE ACCEPTANCE / RENUNCIATION FORM</b></p>

                    <p>1. Acceptance and/or renunciation must be made on this Acceptance/Renunciation Form. Photocopies or scanned copies of the Form will be rejected.</p>

                    <p>2. Allottees should complete only ONE of the boxes marked A and B on the reverse of this form. Shareholders accepting the provisional allotment in full should complete box A and submit their Acceptance/Renunciation Forms to any of
                        the Receiving Agents listed on Page 49 of the Rights Circular together with a cheque or bank draft made payable to the Receiving Agent for the full amount payable on acceptance. The cheque or draft must be crossed “CHDA/INTERNATIONAL
                        BREWERIES 2019 RIGHTS ISSUE”, with the name, address and mobile number of the shareholder written on the back. Any payment made electronically or with a value exceeding N=10 million should be made via SWIFT, RTGS or NEFT into the
                        designated Offer Proceeds Account stated below:</p>


                </div>
                <table class="highlight">
                    <tbody>
                        <tr>
                            <td valign="top">
                                <p><b>SN:</b></p>
                            </td>
                            <td valign="top">
                                <p><b>NAMES</b></p>
                            </td>
                            <td valign="top">
                                <p><b>ACCOUNT N0</b></p>
                            </td>  
                            <td valign="top">
                                <p><b>COMPANY</b></p>
                            </td>
                              <td valign="top">
                                <p><b>DIVIDEND BATCH</b></p>
                            </td>
                        </tr>

                        {% for holder in holders%}
                        <tr>
                            <td valign="top">
                                <p><b>{{loop.index}}:</b></p>
                            </td>
                            <td valign="top">
                                <p>{{holder.names}}</p>
                            </td>

                            <td valign="top">
                                <p>{{holder.acno}}</p>
                            </td>
                            <td valign="top">
                                <p>{{holder.company}}</p>
                            </td>
                             <td valign="top">
                                <p>{{holder.bvn}}</p>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td valign="top">
                                <p><b>Narration:</b></p>
                            </td>
                            <td colspan="4" valign="top">
                                <p><i><b>{{session.get('NAMES')}}</b>'s payment for INTERNATIONAL BREWERIES PLC</i> RIGHTS
                                </p>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <img src="https://res.cloudinary.com/tokyojames/image/upload/v1575634695/iblrights-a_dlronk.png" class="form" width="100%"><br>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <img src="https://res.cloudinary.com/tokyojames/image/upload/v1575634696/iblrights-2_ryqqde.png" class="form" width="100%" height="100%"> <br>
            </div>


        </div>
        <!--end of main div-->
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>


    </body>

</html>