{% extends "base.html" %} {% block search_form %}
<div class="center z-depth-2">
    <h4 class="flex-container justify-content-center"> SEARCH RIGHT</h4>
    <!--from form.py  -->

    <form action="" method="POST">
        {{sform.hidden_tag()}}
        <div class="alert alert-warning" role="alert">
            {{sform.criteria.label }}<br> {{sform.criteria}}<br> {% for error in sform.criteria.errors %}
            <span class="alert alert-warning" role="alert">{{error}}</span> {%endfor%}
        </div>
        <div class="alert alert-warning" role="alert">
            {{sform.identifier.label}}<br> {{sform.identifier}}<br> <i>{{sform.identifier.description[0] }}</i><br>
            {% for error in sform.identifier.errors %}
            <span class="alert alert-warning" role="alert">{{error}}</span> {%endfor%}
        </div>
        <div>
            {{sform.search}}
        </div>

    </form>
</div>


{%endblock%}