{% extends "base.html" %} {% block search_form %}

<div class="alignsearch container-fluid card center hoverable">
  <h2>Search right</h2>
  <!--from form.py  -->

  <form action="" method="POST">
    <p class="alertstyle" style="text-decoration-color:red;">
      {{ sform.hidden_tag() }}
    </p>
    <div class="">
      <div class="input-field">
        {{ sform.criteria.label }}<br />
        {{ sform.criteria }}<br />
        {% for error in sform.criteria.errors %}
        <span>
          {{ error }}
        </span>
        {%endfor%}
      </div>

      <div class="input-field">
        {{ sform.identifier.label }}<br />
        {{ sform.identifier }}<br />
        {% for error in sform.identifier.errors %}
        <span>
          {{ error }}
        </span>
        {%endfor%}
      </div>
    </div>

    <div class="center">
      <input
        type="submit"
        class="btn-large btn-primary cemter"
        placeholder="search"
      />
    </div>
  </form>
</div>
{%endblock%}
