<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IBL RIGHT ISSUE</title>
</head>

<body>
    <div>
        <img style="width: 101px; height: 95px;" id="Picture 57" src="../static/img/logo-smaller.png" alt="APEL" class=""> <img id="Picture 57" src="../static/img/nlogo_0.png" alt="IBL" class="">
    </div>
    <div>
        {% block result%} {% endblock %}
    </div>
    <div>
        {%block consent%} {% endblock %}
    </div>
</body>

</html>